In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\anaconda3\lib\site-packages (1.1.1)

In [2]:
import pymysql as ps
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [3]:
mycon = ps.connect(host ="localhost",user="root",database="payroll",password="root@123")

In [4]:
mycur=mycon.cursor()

In [5]:
mycur.execute("create table if not exists student(rollno int,name varchar(30),age int)")

0

In [6]:
mycur.execute("desc student")

3

In [7]:
mycur.execute('select * from student')
mycur.fetchall()

((1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24))

In [8]:
mycur.execute("update student set name ='pratik' where rollno=3")

0

In [9]:
mycur.execute('select * from student')

18

In [10]:
mycur.execute("delete from student where rollno=4")

0

In [11]:
mycon.commit()

In [20]:
rn=4
nm="Raj"
agel=32

mycur.execute("""insert into student values("%s","%s","%s")"""%(rn,nm,agel))
mycon.commit()

In [21]:
mycur.execute('select * from student')
mycur.fetchall()

((1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'pratik', 24),
 (5, 'Raj', 32),
 (4, 'Raj', 32))

In [25]:
mycur.execute('select * from student')
mycur.fetchone()

(1, 'riya', 23)

In [22]:
mycur.execute('select * from student')
mycur.fetchmany(4)

((1, 'riya', 23), (2, 'kiya', 22), (3, 'pratik', 24), (1, 'riya', 23))