In [5]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------------------------ --- 41.0/45.0 kB 393.8 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 445.3 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [9]:
import pymysql as ps

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [12]:
mycom=ps.connect(host="localhost",user="root",database="payroll",password="root@123")

In [14]:
mycur = mycom.cursor()

In [21]:
mycur.execute("create table if not exists student(rollno int,name varchar(33),age int)")

0

In [22]:
mycur.execute("desc student")

3

In [23]:
mycur.fetchall()

(('rollno', 'int', 'YES', '', None, ''),
 ('name', 'varchar(33)', 'YES', '', None, ''),
 ('age', 'int', 'YES', '', None, ''))

In [31]:
mycur.execute("insert into student values(1,'riya',23),(2,'kiya',22),(3,'kiran',24),(4,'rahul',22)")
mycom.commit()

In [33]:
mycur.execute('select * from student')
mycur.fetchall()

((1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'kiran', 24),
 (4, 'rahul', 22),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'kiran', 24),
 (4, 'rahul', 22),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'kiran', 24),
 (4, 'rahul', 22),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'kiran', 24),
 (4, 'rahul', 22),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'kiran', 24),
 (4, 'rahul', 22),
 (1, 'riya', 23),
 (2, 'kiya', 22),
 (3, 'kiran', 24),
 (4, 'rahul', 22))

In [39]:
mycur.execute('select * from student')
mycur.fetchmany(2)

((1, 'riya', 23), (2, 'kiya', 22))