In [1]:
import pandas as pd
l=[10,20,30,40]
pd.Series(l)         #gives you table in row and col formate

0    10
1    20
2    30
3    40
dtype: int64

In [2]:
#to chenge index
pd.Series(l,index={'i','ii','iii','iv'})

i      10
ii     20
iv     30
iii    40
dtype: int64

In [5]:
d={'name':['ram','pratik','kiya'],'percentage':[89,90,80],'city':['pune','thane','nagar'],'age':[23,22,21]}
pd.DataFrame(d)  #

     name  percentage   city  age
0     ram          89   pune   23
1  pratik          90  thane   22
2    kiya          80  nagar   21

In [6]:
d={'name':['kiya','sonali','kiran','megha','tushar'],'job':['manager','clerk','engineer','assistant','salemen'],
   'city':['pune','pune','thane','nagar','saswad'],'age':[24,26,31,28,25]}
pd.DataFrame(d)

     name        job    city  age
0    kiya    manager    pune   24
1  sonali      clerk    pune   26
2   kiran   engineer   thane   31
3   megha  assistant   nagar   28
4  tushar    salemen  saswad   25