Test:-

In [44]:
#8/07/024

1 What is Machine learning? and how it is different from general programming language? 
==> Machine learning is a branch of computer science which is  using data and algorithms.
   ML uses for Mathamatical representation or algorithm
  Use different laibraries such as Pandas, Numpy.Seaborn and Matplotlib which is present data in statastical algorithum.
  Or machine learning using algorithm to train the data.

2. What is Supervised and Unsupervised Machine Learning?
==> Supervised Machine Learning is uses a labeled database and Unsupervised Machine Learning uses a Unlabeled database

3. explain Type of Supevised Machine Learning?

==> Type of Supervised ML:-
    1) Regression
    2) Classification

4.Explain and perform K-nearest neighbour's?

4.==> K-nearest neighbour:KNN:--
   The K- nearest neighbour algorithem is a supervised machine learning algorithemwhich is perform on classificatin and regression problem.
      The K-nearest neighbour works on given data to finding  points on distance.

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [23]:
from sklearn.datasets import load_iris
iris=load_iris()

In [26]:
df= pd.DataFrame(iris.data,columns=iris.feature_names)
df['target'] =iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [28]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [29]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [30]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [31]:
df.info

<bound method DataFrame.info of      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns]>

In [32]:
x=df.drop('target',axis=1)
y=df['target']

In [33]:
from sklearn.model_selection import train_test_split

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [36]:
from sklearn.neighbors import KNeighborsClassifier

In [38]:
KNN=KNeighborsClassifier()

In [39]:
KNN.fit(x_train,y_train)

KNeighborsClassifier()

In [43]:
KNN.score(x_test,y_test)

1.0

5. How to chose number of clusters?